*{
    margin: 0;
    padding: 0;
}
body{color: #333;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;}
h1,h2,h3,h4,h5,h6{ font-weight: normal}
.clear{clear: both;overflow: hidden}
li{list-style: none}
em{ font-style: normal}
a{ color: #333;text-decoration:none}
.topfix{ position: absolute; top:0; width: 100%;z-index: 9999}
.topbar{
    width: 100%;
    padding:6px 10px;
    background: #52a6df;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
}
.topbar .left,.topbar .right{
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.topbar .center {
    text-align: center;
    margin: 0;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-flex-shrink: 10;
    -ms-flex: 0 10 auto;
    flex-shrink: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    color: #fff;
}
.topbar .center h4{ font-size: 17px;}
.topbar .center p{color: #dcf4ff; font-size: 10px}
.icon-back{background: url("../images/icon-back.png") no-repeat;width: 24px; height: 20px; background-size: 100%; display: inline-block}
.icon-refresh{background: url("../images/icon-refresh.png") no-repeat;width: 16px; height: 20px; background-size: 100%; display: inline-block}
.icon-rowbottom{background: url("../images/icon-rowbottom.png") no-repeat;width: 12px; height:6px; background-size: 100%; display: inline-block}
.icon-green-line{width: 24px; height:5px;background: #40acff;border-radius: 3px; display: inline-block}
.icon-blue-line{width: 24px; height:5px;background: #0dbc78;border-radius:3px; display: inline-block}
.navbar{
    width: 100%;
    padding:11px 10px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 1px solid #e3e3e3;
    color: #e3e3e3;
    background-color: #fff;
    position: fixed;
    top:0px;
    left:0px;
}
.navbar a{
    height: 100%;
    width:auto;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: visible;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}
.navbar .active{color: #52a6df;}
.navbar .active .icon-rowbottom{background: url("../images/icon-rowtop-active.png") no-repeat;width: 12px; height:6px; background-size: 100%; display: inline-block}
.navbar a:last-child{ border-right: none}
.navbar a i{ margin-left: 5px;}
.navbar span{margin-right: 5px;}
.target-list ul{padding: 0 10px; color: #666}
.target-list ul li{padding: 10px 0;border-bottom: 1px solid #e3e3e3;overflow: hidden}
.target-list ul li h5{font-size: 14px; color: #666;margin-bottom: 6px;}
.progress {
    height:12px;
    margin-top: 2px;
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
    line-height: 12px;
}
.progress-bar {
    float: left;
    width: 0;
    height: 8px;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    border-radius: 4px;
    margin-top: 2px;
}
.progress-bar.first{background-color: #51a8fe;}
.progress-bar.second{background-color: #0dbc78}
.progress span{ font-size: 12px;margin-left: 8px;color: #666;}
.mask {
    z-index: 1000;
    display: none;
    background:rgba(0,0,0,.3);
    box-sizing: border-box;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    width:100%;
    top: 0;
    height: 100%;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    overflow: hidden;
}
.mask-content{position: fixed;background-color: #ededed;z-index: 1001; width: 100%; top: 42px;}
.nav-list{float: left;width: 100px;}
.nav-list li{ font-size: 12px;line-height: 50px;text-align: center;border-bottom:1px solid #cbcbcb;}
.nav-list li.active{background: #fff;margin-right: -1px;padding-right: 1px;}
.nav-list li .circle{width: 6px; height: 6px; border-radius: 50%;background: #ffa42d; display: inline-block;margin-right: 6px;margin-left: -12px;}
.nav-content{padding: 10px 0 14px 10px;border-left: 1px solid #cbcbcb; background: #fff;overflow: hidden;font-size: 12px;}
.mask-content ol{display: none}
.mask-content ol.block{display: block}
.nav-list-01 p{line-height: 40px;border-bottom: 1px solid #e3e3e3;overflow: hidden;padding-left: 13px;padding-right: 10px;}
.nav-list-01 p.active{background-image: url("../images/icon-checked.png");background-repeat: no-repeat;background-size: auto 35%;color: #52a6df;background-position: calc(100% - 10px) center;}
.row-left{background: url("../images/icon-left.png") no-repeat;position: absolute;background-size:100% 100%;width:6px; height:8px;display: block;right:-5px; }
.nav-list-02 p{line-height: 40px;border-bottom: 1px solid #e3e3e3;overflow: hidden;padding-left: 14px;position: relative}
.nav-list-02{ float: left;width: 50px;padding-right: 7px;position: relative}
.nav-list-02 .circle{width: 6px; height: 6px; border-radius: 50%;background: #ffa42d; display: inline-block;margin-right: 6px; margin-left: -12px;}
.nav-list-03 p{line-height: 40px;overflow: hidden;padding-left:22px;margin-right: 10px;}
.nav-list-03 p.active{background: url("../images/icon-checked.png") no-repeat center right;background-size: auto 35%;color: #52a6df}
.nav-list-03{border-left: 1px solid #e3e3e3;margin-left: 60px;min-height: 174px;height: 300px;overflow: auto;}
.nav-list-06 p{padding-left: 8px;}
.nav-list-06 p.active{color: #52a6df}
.nav-list-07 p{line-height: 40px;border-bottom: 1px solid #e3e3e3;overflow: hidden;padding-left: 13px;padding-right: 10px;}
.nav-list-07 p.active{background-image: url("../images/icon-checked.png");background-repeat: no-repeat;background-size: auto 35%;color: #52a6df;background-position: calc(100% - 10px) center;}

/* clerk-list */
.clerk-list{overflow-x:auto; overflow-y: hidden;width:100%;height:38px;position:relative;margin-top: 42px;border-bottom: 5px solid #e3e3e3; color: #666}
.clerk-list .clerk{ position:absolute;height:24px;left:0;top:10px;line-height:24px;text-align:center;cursor:pointer;padding: 0 10px}
.clerk-list .clerk li{float:left;height:24px;background: #ededed;border-radius: 4px; margin-right: 5px;font-size: 12px; line-height: 24px;}
.clerk-list .clerk li.active{background: #52a6df; color: #fff;}
.target-title{padding: 0 10px; overflow: hidden; line-height: 24px; font-size: 12px;}
.target-title ul{ float: right}
.target-title ul li{float: left; vertical-align: middle; line-height: 24px;}
.target-title ul li,.target-title span{ margin-left:12px; }
.target-title ul li i{ vertical-align: middle; margin-right: 6px;}
.target-01{ font-size: 15px;}
.target-01 span{color: #666; font-size: 15px;margin: 0 18px 0 8px;}
.target-01 em{font-size: 15px;color: #ffb607;margin-left: 8px;}
.icon-check,.icon-check-on{ display: inline-block; width: 14px; height:14px;border: none;vertical-align: middle}
.icon-check{background:url("../images/icon-check.png") no-repeat; background-size: 100%;}
.icon-check-on{background:url("../images/icon-checked.png") no-repeat; background-size: 100%;}
.nav-list-04 p,.nav-list-05 {
    line-height: 40px;
    border-bottom: 1px solid #e3e3e3;
    overflow: hidden;
    padding-left: 13px;
    padding-right: 10px;
}
.nav-list-04 {
    overflow: auto;
    height: 300px;
}

.nav-list-04  label{ float: right;line-height: 38px;}
.nav-btn-group{
    background: #ededed;border-top: 1px solid #cbcbcb;height: 50px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding-left: 10px;
}
.nav-btn-group a{
    border: 1px solid #d3d3d3;
    height: 30px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: visible;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    margin-right: 10px;
    border-radius: 3px;
}
.nav-btn-group a.btn-default{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    width: 30%;
    background: #fff;

}
.nav-btn-group a.btn-info{
    -webkit-box-flex: 2;
    -ms-flex: 2;
    width: 70%;
    background: #52a6df;
    color: #fff;
}

.loading{ position: absolute; top:50%;left: 50%; width: auto; height: 44px;margin-left: -61px; margin-top: -22px;background: rgba(0,0,0,.7);line-height:44px;border-radius: 4px;color: #fff;text-align: center;    padding-left: 10px;padding-right: 10px }
.loading em{ background: url("../images/loading.gif") no-repeat; width: 21px; height: 21px; display: inline-block; background-size: 100% 100%;vertical-align: middle; margin-right: 10px;}
.nodata{position: absolute; top:50%;left: 50%;margin-left: -70px; margin-top: -70px;}
.nodata_img{width: 140px;height: 140px}
.clerk li a{padding: 5px;}
.tip{    position: absolute;top: 45%;left: 15%;width: 70%;height: auto;margin-top: -22px; }
.tip p{background: rgba(0,0,0,.7);line-height:normal;border-radius: 4px;color: #fff;;padding: 10px;text-align: center;}
